@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(235, 235, 235);
  #boards{
    text-align: center;
    h1 {
      font-size: 5em;
    }
  }
  #home{
    text-align: center;
    h1 {
      font-size: 5em;
    }
    .card {
      margin: 20px;
    }
  }
}
.hide {
  display: none;
}
